.bod{
        height:100vh;
        background-image: url(../assets/bgWeatherApp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display:flex;
        justify-content: center;
    .container{
        position:absolute;
        top: 0;
    .cards{
        margin-top:2.5rem;
        text-align:center;
        .city {
            font-size:5rem;
            margin-top:10px;
            margin-bottom:35px;
        }
        h5{
            font-size:1.6rem;
            margin:5px 0px;
        }
        h1{
            font-size: 5rem;
            margin-top:45px;
            margin-bottom:40px;
        }
        h3{
            span{
                margin: 0px 5px;
            }
        }
        p{
            margin-top:40px;
        }
        a{
            .WeatherBackButton{
                margin-top:80px;
                padding:5px 12px;
                border:none;
                border-radius:5px;
                background-color:#25ABAB;
                outline:none !important;
                
            }
        }
    }
}}

@media(max-width:768px){
    form{
        .row{
            display:flex;
            flex-wrap: nowrap;
            margin-left:10px;
            .input1{
                width:400px;
            }
            .input2{
                width:400px;
            }
        }
    }
}


form{
    input[name="city"], input[name="country"]{
        background-color:transparent;
        color:white;
        border:0;
        border-bottom:2px solid black;
    }
    input[name="city"], input[name="country"]:focus{
        background-color:transparent !important;
        box-shadow: none !important;
        color:white !important;
        border-color:black !important;
    }
    input[name="city"]::placeholder{
        color: white !important;
    }
    input[name="country"]::placeholder{
        color: white !important;
    }
}
