*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER-NAVBAR */

.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6.5vh;
    background-color: #003580;
}

.left-inner-addon {
    position: relative;
    width: 250px;
    height: 15px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    color: #666;
}
.left-inner-addon input.form-control {
    padding-left: 30px;
}

.header-nav-links{
    display: flex;
    list-style: none;
    width: 10%;
    justify-content: space-around;
    color:white;
    height: 10px;
}

@media (max-width:1550px){
    .header-nav-links{
        width:15%;
    }
}

@media(max-width:1000px){
    .header-nav-links{
        width:20%;
    }
}

@media(max-width:720px){
    .left-inner-addon{
        width:185px;
    }
    .header-nav-text{
        visibility: hidden;
    }
    .header-nav-icon{
        position: relative;
        margin:-19px;
        left:28px;
        bottom:7px;
        font-size:25px;
    }
}

/* NAVBAR */

.nav{
    display: flex;
    background-color:RGBA(0,63,141,1);
    justify-content: space-around;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    height:20px;
    color: white;
}

.nav-link{
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: all 150ms linear 0s;
}
