@import './AppShoppingProduct';
@import './AppShoppingProductDetail';

.aroundCS{
    width:100%;
    background-color:#01095E;
    top:0;
    height:60px;
    .CSNavBar{
        margin-top:-0px;
        .navbar-cs{
            display:flex;
            width:100%;
            padding:8px 0px;
            margin: auto;
            .navbar-cs-icon{
                flex:1;
            }
            .navbar-cs-text{
                align-items:center;
                display:flex;
                padding-right:50px;
                color:#ffff;
            }
        
            .navbar-cs-cart{ 
                align-items:center;
                display:flex;
            }
        }
    }








}